* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.title-form {
  width: 477px;
  height: 38px;
  top: 48px;
  margin-left: 130px;
}

.newsletter-form {
  margin-left: 130px;
  width: 740px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.newsletter-form-image {
  width: 288px;
  height: 232px;
  top: 118px;
  left: 130px;
  border-radius: 8px;
  text-align: center;
}

.newsletter-form-title {
  text-align: center;
  width: 326px;
  height: 54px;
  top: 1px;
  left: 1px;
  border-radius: 3.5px;
}

.newsletter-form-description {
  width: 414.46px;
  height: 131.14px;
  top: 2.43px;
  border-radius: 3.5px;
  text-align: center;
  margin-left: 340px;
  margin-top: -150px;
}

.second-title-form {
  width: 283px;
  height: 38px;
  top: 462px;
  margin-left: 130px;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  top: 532px;
  margin: 0 auto;
  gap: 10px;
  width: 730px;
  margin-right: 800px;
}

.description-image {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-left: 102px;
  margin-right: 50px;
  Padding: 24px;
}

.paisagens {
  width: 288px;
  height: 212px;
  gap: 5px;
}

.text-image {
  margin-top: 24px;
  margin-left: 16px;
}

.paragraph {
  margin-top: 8px;
  color: #858585;
  width: 100%;
}

.newsletter-form-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 20px 20px;
  gap: 10px;
  background: #FF5A5F;
  border-radius: 3.5px;
  color: #FFFFFF;
  margin-left: 750px;
  margin-top: 18px;
  width: 121px;
}

@media screen and (max-width: 768px) {
  .conteiner {
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-left: 16px;
    justify-content: center;
    width: 230px;
  }
  .description-image {
    display: flex;
    flex-direction: column;
    margin: 0%;
    box-shadow: #000;
    width: 330px;
    height: 400px;
  }
  .text-image {
    align-items: center;
    color: #000;
  }
  .paragraph {
    margin-left: 0%;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-left: 16px;
    text-align: block;
    width: 20px;
  }
  .newsletter-form-description {
    width: 326px;
    text-align: block;
    margin-left: 1.27px;
    margin-top: 0;
  }
  .title-form {
    width: 332px;
    height: 76px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .second-title-form {
    width: 283px;
    height: 38px;
    margin-top: 692px;
    margin: 0%;
    margin-left: 26px;
  }
  .newsletter-form-button {
    width: 343px;
    height: 56px;
    top: 568px;
    margin-left: 16px;
    align-items: center;
    margin: 10px;
  }
}
.botao {
  display: none;
}

@media screen and (min-width: 1440px) {
  .conteiner {
    position: absolute;
    width: 10;
    height: 20%;
  }
}
@media screen and (min-width: 1545px) {
  .conteiner {
    position: absolute;
    margin-top: -100px;
    width: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
